:root {
   /* ///// Colors ////// */
   --base-color1: #222222;
   --base-color2: #363435;
   --base-color3: #494949;
   --normal-text-color: #c5cbc8;
   --highlight-text-color: #e1d8e2;
   --accent-color1: #e881d3;
   --accent-color2: #d881c9;
   --control-hover-color: #524e4f80;
   --control-mousedown-color: #524e4f;
   --control-text-color: var(--normal-text-color);
   --text-selection-color: #c5cbc83a;
   --text-highlight-color: #d881c96e;
   --text-selected-highlight-color: #d881c9a4;
   --editor-caret-color: var(--highlight-text-color);

   --color-red: #e81123;

   /* Scrollbar */
   --scrollbar-track-color: var(--base-color2);
   --scrollbar-thumb-color: var(--normal-text-color);

   /* Menubar */
   --menubar-background-color: var(--base-color2);
   --menubar-text-color: var(--normal-text-color);
   --menubar-control-hover-color: var(--control-hover-color);
   --menubar-control-mousedown-color: var(--control-mousedown-color);
   --menubar-dropdown-background-color: var(--base-color2);
   --menubar-dropdown-hover-color: var(--control-hover-color);
   --menubar-dropdown-mousedown-color: var(--control-mousedown-color);
   --menubar-dropdown-text-color: var(--menubar-text-color);


   /* Actionbar */
   --actionbar-background-color: var(--control-hover-color);


   /* Actionmenu */
   --actionmenu-background-color: color-mix(in srgb, var(--base-color2) 80%, transparent);
   --actionmenu-control-background-color: color-mix(in srgb, var(--base-color2) 20%, transparent);
   --actionmenu-control-hover-color: color-mix(in srgb, var(--base-color3) 60%, transparent);
   --actionmenu-control-mousedown-color: var(--base-color3);
   --actionmenu-text-color: var(--normal-text-color);
   --actionmenu-dropdown-text-color: var(--actionmenu-text-color);
   --actionmenu-dropdown-background-color: var(--base-color2);
   --actionmenu-dropdown-hover-background-color: color-mix(in srgb, var(--base-color3) 80%, transparent);
   --actionmenu-dropdown-selected-background-color: var(--actionmenu-dropdown-hover-background-color);
   --actionmenu-dropdown-selected-text-color: inherit;
   --actionmenu-accent-color: color-mix(in srgb, var(--accent-color2) 80%, transparent);
   --actionmenu-fontselect-line-color: var(--normal-text-color);


   /* Prompt */
   --prompt-background-color: color-mix(in srgb, var(--base-color3) 15%, transparent);
   --prompt-input-background-color: var(--base-color2);
   --prompt-input-text-color: var(--normal-text-color);
   --prompt-input-border-color: var(--base-color3);
   --prompt-dropdownpanel-item-hover-color: color-mix(in srgb, var(--base-color3) 50%, transparent);
   --prompt-dropdownpanel-item-selected-color: var(--accent-color2);
   --prompt-dropdownpanel-item-input-background-color: var(--base-color2);
   --prompt-dropdownpanel-item-input-border-color: var(--base-color3);


   /* Find & Replace panel */
   --findreplace-background-color: color-mix(in srgb, var(--base-color3) 15%, transparent);
   --findreplace-control-hover-color: color-mix(in srgb, var(--base-color3) 50%, transparent);
   --findreplace-control-selected-color: color-mix(in srgb, var(--accent-color2) 70%, transparent);
   --findreplace-text-color: var(--normal-text-color);
   --findreplace-input-background-color: var(--base-color2);
   --findreplace-active-input-border-color: var(--base-color3);


   /* Editor */
   --editor-background-color: var(--base-color1);
   --editor-text-color: var(--normal-text-color);

   /* Editor Sidebar */
   --editor-sidebar-background-color: var(--base-color2);
   --editor-sidebar-tab-color: var(--base-color3);
   --editor-sidebar-tab-hover-color: var(--control-hover-color);
   --editor-sidebar-tab-text-color: color-mix(in srgb, var(--normal-text-color) 50%, transparent);
   --editor-sidebar-tab-hover-text-color:var(--normal-text-color);
   --editor-sidebar-tab-selected-color: var(--base-color1);
   --editor-sidebar-tab-selected-text-color: color-mix(in srgb, var(--accent-color2) 50%, transparent);
   --editor-sidebar-tab-selected-hover-text-color: var(--accent-color2);
   --editor-sidebar-button-color: var(--normal-text-color);
   --editor-sidebar-button-selected-color: var(--accent-color2);
   --editor-sidebar-button-hover-color: var(--base-color1);
   --editor-sidebar-button-hover-background-color: color-mix(in srgb, var(--color-red) 80%, transparent);


   /* Fallback Fonts Family and Size */
   /* these values are only being used only if Javascript failed to do what it should */
   --font-family: 'Segoe UI';
   --editor-font-family: 'Segoe UI';
   --editor-font-size: 1.9ch;
   --actionmenu-control-fontsize: 1.75ch;



   /* ///// Dimensions ////// */
   --menubar-height: 32px;
   --editor-sidebar-width: 26px;
   --scrollbar-width: 8px;
   --prompt-width: min(300px, 75%);
   --findpanel-width: min(300px, 75vw);
   --editor-finepanel-added-space: 2lh;
   --editor-top-padding: 6px;
   --actionmenu-control-fontsize: 1.75ch;



   /* ///// Other ////// */
   --prompt-backdrop-filter: blur(4px);
}